.roadmap-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 25px;
}

.file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55%;
  border: 2px dashed #ccc;
  padding: 40px;
  gap: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #1a1a2e;
  color: #fff;
}

.file-upload:hover {
  border-color: #aaa;
  background-color: #2a2a4e;
  transform: scale(1.005);
}

.file-upload img {
  width: 100px;
  height: 100px;
}

.upload-icon:hover {
  transform: scale(1.005);
}

.generate-button {
  font-family: 'Lexend Deca', sans-serif;
  position: relative;
  width: 15%;
  padding: 1rem;
  background: #835bfc;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s ease;
  font-size: 1rem;
  cursor: pointer;
  }

  .generate-button:disabled {
    background: #ccc;
    cursor: not-allowed;
  }
  
.preview-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.preview-content {
  background: #835bfc;
  padding: 2rem;
  border: 1px solid #835bfc;
  border-radius: 12px;
  width: 60%;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.topics-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.945);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  gap: 2rem;
}

.topics-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.topic-button {
  font-family: 'Lexend Deca', sans-serif;
  background: #835bfc;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
  font-weight: 500;
  font-size: 1.5rem;
  transition: background 0.3s ease, transform 0.3s ease;
}

.topic-button:hover {
  background: #6b4ad4;
  transform: scale(1.02);
}

.preview-content button {
  font-family: 'Lexend Deca', sans-serif;
  background: #13131f;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1rem;
  transition: background 0.3s ease, transform 0.3s ease;
}

.preview-content button:hover {
  background: #1a1a2e;
  transform: scale(1.05);
}

.loading-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.945);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  gap: 2rem;
}
.loading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #835bfc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.generated-roadmap-container {
  width: 100%;
  height: 100%;
  margin-top: 3rem;
}

.react-flow-container {
  display:flex;
  align-items: center;
  height: 700px;
}

.roadmap-topics {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 2rem;
  width: fit-content;
  background-color: #835bfc;
  color: white;
}

.roadmap-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
} 

.roadmap-line{
  display: flex;
  flex-direction: row;
}

.topic{
  font-family: 'Lexend Deca', sans-serif;
  background: #835bfc;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  transition: background 0.3s ease, transform 0.3s ease;
}

.subtopics-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espacio entre tarjetas */
}

.subtopic-card {
  background-color: #00bcd4; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 10px;
  border-radius: 5px;
  flex: 1 1 150px; /* Tamaño mínimo de las tarjetas */
  text-align: center; /* Centrar texto */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 1024px) {
  h1 {
    text-align: center;
  }
  .generate-button {
    width: 20%;
    padding: 0.8rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  h1 {
    text-align: center;
  }
  .generate-button {
    width: 30%;
    padding: 0.7rem;
    font-size: 0.85rem;
  }
  .topics-content {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  h1 {
    text-align: center;
  }
  .generate-button {
    width: 50%;
    padding: 0.6rem;
    font-size: 0.8rem;
  }
  .topics-content {
    display: flex;
    flex-direction: column;
  }
}

.help-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
}

.tutorial-icon {
  width: 60px;
  height: 60px;
  transition: transform 0.2s ease-in-out;
}

.tutorial-icon:hover {
  transform: scale(1.1);
}



/* Contenedor principal: organiza los elementos en dos columnas */
.file-info-container {
  min-width: 100hh;
  min-height: 100vh;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #13131f; /* Fondo oscuro */
  color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

/* Contenedor izquierdo: Información del archivo */
.file-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: right;
  gap: 15px;
}

.credits-cost{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


/* Contenedor derecho: Vista previa del PDF */
.pdf-preview {
  flex: 1;
  /* Usamos aspect-ratio en lugar de height fijo para responsividad */
  aspect-ratio: 1;
  min-width: 100hh;
  border-radius: 8px;
  overflow: hidden;
  background: #13131f; /* Simula visor de PDF */
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.pdf-preview iframe {
  width: 70%;
  height: 80%;
  border: 4px solid #2a2a4e;
  border-radius: 8px;
  margin-left: 50px;
}

/* Contenedor de botones para mantener alineación horizontal */
.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 40px;
  gap: 20px; /* Aumenta la separación horizontal */
}

/* Botón de generación */
.generate-button {
  padding:15px;
  width: 210px;
  height: 80px;
  font-family: 'Lexend Deca', sans-serif;
  background: #835bfc;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.generate-button:hover {
  background: #6b4ad4;
  transform: scale(1.05);
}

/* Botón para subir otro archivo */
.reset-button {
  padding:15px;
  width: 170px;
  height: 50px;
  font-family: 'Lexend Deca', sans-serif;
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.reset-button:hover {
  background: #cc0000;
  transform: scale(1.05);
}